<div class="l-header">
  <div class="l-header-logo">
    <img src="/assets/images/upme_header_logo.svg" alt="logo">
  </div>

  {{#if session.isAuthenticated}}
    <div class="l-header-options" data-tooltip="Sair">
      <i class="icon-exit" {{action 'logout'}}></i>
    </div>
  {{/if}}
</div>
