<form {{action 'createGroup' on="submit"}}>
  <div class="form-group">
    {{input value=name class='form-control' placeholder=(t 'components.form-group.placeholders.name')}}
  </div>

  <button class="btn btn-primary btn-block" type="submit"> {{t 'components.form-group.buttons.submit'}} </button>
</form>
