
// --- BUTTONS ---
.is-active.tab-button {
  box-shadow: inset 0 -2px 0 0 #2ecc71;
  color: $secondary-color;
}

// --- CARD ---
.is-active.card {
  background-color: $gray-lighten;
  border-left: solid 4px $secondary-color;
  .card-content {
    display: block;
  }
}

// --- DIALOG ---
.is-active.dialog {
  visibility: visible;
  opacity: 1;
  top: 25%;
}

@media screen and (max-width: 900px) {
  .l-whiteframe {
    width: 100%;
  }
}
