* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
}

// FIX - Action click on Safari
[data-ember-action] {
  cursor: pointer;
}

body {
  background-color: $gray-lighten;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

ul {
  list-style-type: none;
}

a {
  color: $text-color;
  text-decoration: none;
}

input {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
