$primary-color: #34495E;

$secondary-color: #2ecc71;
$secondary-dark-color: #009943;

$danger-color: #ff4081;
$danger-dark-color: #ff4060;

$white:          #FFFFFF;
$gray:           #E3E3E3;
$gray-lighten:   #F2F2F2;
$gray-darken:    #B4B4B4;
$black-lighten:  rgba(0, 0, 0, 0.5);

$border-color: $gray;
$input-border-color: $secondary-color;

$text-color: $black-lighten;
