$secondary-color: #2ecc71;
$secondary-dark-color: #009943;

$danger-color: #ff4081;
$danger-dark-color: #ff4060;

$white:          #FFFFFF !default;
$gray:           #E3E3E3 !default;
$gray-lighten:   #F2F2F2 !default;
$gray-darken:    #B4B4B4 !default;
$black-lighten:  rgba(0, 0, 0, 0.5) !default;
$blue-darken:    #34495E !default;

$border-color: $gray;
$input-border-color: $secondary-color;

$text-color: $black-lighten;
