@font-face {
  font-family: 'upme';
  src:  url('fonts/upme.eot?a8mcmw');
  src:  url('fonts/upme.eot?a8mcmw#iefix') format('embedded-opentype'),
    url('fonts/upme.ttf?a8mcmw') format('truetype'),
    url('fonts/upme.woff?a8mcmw') format('woff'),
    url('fonts/upme.svg?a8mcmw#upme') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'upme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}

