<div class="card {{activeClass}}" {{action onclick this}}>
  <div class="card-header">
    <p class="card-title"> {{user.name}} </p>

    <span class="card-header-info"> <i class="icon-people"></i> 31 </span>
    <span class="card-header-info"> <i class="icon-event"></i> 23/12/2015 </span>
  </div>
  <div class="card-content">
    {{user.description}}

    <div class="card-action">
      {{#link-to 'users.show' user.id class='btn-primary'}}
        VER PRATICANTE
      {{/link-to}}
    </div>
  </div>
</div>