<div class="l-whiteframe">
  <div class="l-whiteframe-header">
    <p class="lead-text">
      Inicio do treinamento: 20/08/2016
    </p>
  </div>

  <table class="table">
    <thead>
      <th><td> # </td></th>
      <th><td> Data </td></th>
      <th><td> Distância </td></th>
      <th><td> Velocidade Média </td></th>
      <th><td> Cassificação </td></th>
      <th><td> Resultado </td></th>
    </thead>
    <tbody>
      <tr>
        <td> 18 </td>
        <td> 18/08/2016 </td>
        <td> 2500 m </td>
        <td> 7 km/h </td>
        <td> Bom </td>
        <td> 32.03 </td>
      </tr>
      <tr>
        <td> 18 </td>
        <td> 18/08/2016 </td>
        <td> 2500 m </td>
        <td> 7 km/h </td>
        <td> Bom </td>
        <td> 32.03 </td>
      </tr>
      <tr>
        <td> 18 </td>
        <td> 18/08/2016 </td>
        <td> 2500 m </td>
        <td> 7 km/h </td>
        <td> Bom </td>
        <td> 32.03 </td>
      </tr>
    </tbody>
  </table>
</div>