.card {
  border-bottom: solid 1px $border-color;
  padding: 20px 24px;
  cursor: pointer;
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  .card-title {
    @include font-size(14px);
  }
  .card-content {
    @include font-size(12px);
    margin-top: 8px;
  }
}
