.table {
  width: 100%;
  border-collapse: collapse;
  thead th {
    padding: 8px 24px;
    border-bottom: 2px solid $border-color;
  }
  tbody tr td {
    padding: 8px 24px;
    border-bottom: 1px solid $border-color;
  }
}
