<div class="l-login">
  <div class="l-whiteframe">
    <div class="l-whiteframe-header">
      <p class="lead-text">
        {{t 'pages.login.title'}}
      </p>
    </div>
    <div class="l-whiteframe-content">
      {{app-login}}
    </div>
  </div>
</div>